.full-loader {
  display: none;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #8a8a8a;
  z-index: 999999;
  opacity: 0.4;
  position: fixed;

  &.show {
    display: block;
  }
  md-progress {
    left: 40%;
    position: absolute;
    top: 40%;
  }
}
