.full-loader {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: lightgray;
  opacity: 0.2;

  &.show {
    display: block;
  }
  md-progress {
    left: 40%;
    position: absolute;
    top: 40%;
  }
}
